version: "3.9"

services:

  postgres:
    image: postgres:15
    container_name: coink-postgres
    restart: always
    env_file: .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./sql:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build:
      context: ./coink-api
      dockerfile: Coink.Api/Dockerfile
    container_name: coink-api
    env_file: .env
    environment:
      - ConnectionStrings__Postgres=Host=${DB_HOST};Port=${DB_PORT};Database=${DB_NAME};Username=${DB_USER};Password=${DB_PASSWORD}
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "5001:8080"

  front:
    build: ./coink-front
    container_name: coink-front
    environment:
      - VITE_API_URL=http://localhost:5001/api
    depends_on:
      - api
    ports:
      - "5173:80"

volumes:
  pgdata:
